@model Vehicles.Models.VehicleMakeDTO

@{
    ViewData["Title"] = "MakeDetails";
}

<h1>Make Details</h1>

<div>
    <h4>Vehicle Make</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Abrv)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Abrv)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditMake" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
